:root {
  --with-size: 1170px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
body {
  font-size: 1.6rem;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
/*==============header================= */
header {
  top: 0;
  position: sticky;
  background-color: #fff;
  padding: 27px 0 27px;
  margin-top: 27px;
  z-index: 2;
}
.header__inner {
  display: flex;
  align-items: center;
}
.navbar__list {
  display: flex;
  align-items: center;
  margin-left: 70.3px;
  margin-right: 426px;
  gap: 48px;
}
.header__account {
  display: flex;
}
.navbar__item--link {
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.navbar__item--active,
.navbar__item--link:hover {
  position: relative;
  color: #212832;
  text-shadow: 0.4px 0 0 currentColor;
}
.navbar__item--active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  border-radius: 99px;
  width: 100%;
  height: 1px;
  background-color: #7264d6;
  left: 0;
}
.header__account--item {
  padding: 12px 28px;
  display: inline-block;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #212832;
  line-height: 1.75;
}
.header__account--item.header__account--btn {
  background-color: #212832;
  color: #fff;
}
/* ==================hero=================== */
.hero {
  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 61px;
}
.hero__inner {
  display: flex;
  align-items: center;
  gap: 60px;
}
.hero__decor {
  position: relative;
  width: 48.72%;
}
.hero__content {
  width: 46.15%;
}
.hero__label {
  display: flex;
  align-items: center;
  color: #696d77;
  font-size: 1.6rem;
  font-weight: 400;
}
.hero__label::before {
  content: "";
  display: inline-flex;
  width: 18px;
  height: 2px;
  margin-right: 12px;
  background: #696d77;
}
.hero__title {
  color: #212832;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.16667;
  margin-top: 12px;
  margin-bottom: 20px;
}
.hero__title strong {
  color: #7264d6;
}
.hero__desc {
  color: #696d76;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667;
  margin-bottom: 40px;
}
.hero__form--email {
  outline: none;
  border: none;
  border-radius: 0.8rem;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
  padding: 23px;
  color: #696d76;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
  flex-shrink: 0;
}
.hero__form--input {
  position: relative;
}
.hero__form--btn {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 15px 30px;
  border-radius: 8px;
  background: #7264d6;
  outline: none;
  border: none;
  cursor: pointer;
}
.hero__form--label {
  display: inline-block;
  margin-top: 20px;
  color: #696d76;
  font-size: 1.4rem;
  font-weight: 600;
}
.hero__decor--mobile {
  position: relative;
  width: 51.93%;
  border-radius: 40px;
  border: 12px solid #212832;
  background: #fff;
  padding: 40px 11px 30px;
  margin-left: 100px;
}
.hero__decor--mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-bottom-left-radius: 99px;
  border-bottom-right-radius: 99px;
  transform: translateX(-50%);
  height: 6.4%;
  width: 48.65%;
  background: #212832;
}
.hero__mobile--card {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 16px;
  border-radius: 20px;
  background: linear-gradient(56deg, #30acea 0%, #316fea 100%);
  overflow: hidden;
  z-index: 1;
}
.card__item--decor:first-of-type {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.card__item--decor:last-of-type {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mobile__card--item {
  align-items: center;
  display: flex;
  color: #fff;
}
.mobile__card--item:first-of-type {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}
.mobile__card--circle {
  display: flex;
}
.circle__item {
  --size-circle: 24px;
  width: var(--size-circle);
  height: var(--size-circle);
  border-radius: 99px;
  background: #fe6565;
}
.circle__item + .circle__item {
  margin-left: calc(calc(-1 * var(--size-circle)) / 3);
  background: #feef65;
  opacity: 0.7;
}
.circle__item:last-of-type {
  position: relative;
  z-index: -1;
  margin-left: calc(-1 * var(--size-circle));
  opacity: 1;
}
.mobile__card--item:nth-of-type(2) .mobile__card--desc {
  font-size: 2.2rem;
  font-weight: 700;
}
.mobile__card--item:nth-of-type(3) {
  gap: 12px;
  margin-top: 38px;
  margin-bottom: 5px;
}
.mobile__card--item:nth-of-type(3) .mobile__card--desc {
  font-size: 1rem;
  font-weight: 400;
}

.mobile__card--item:nth-of-type(4) {
  gap: 36px;
}
.mobile__card--item:nth-of-type(4) .mobile__card--desc {
  font-size: 1.2rem;
  font-weight: 600;
}
.hero__mobile--below {
  margin-top: 24px;
}
.hero__mobile--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__mobile--row:not(:last-child) {
  margin-bottom: 28px;
}
.hero__mobile--heading {
  color: #31456a;
  font-size: 1.6rem;
  font-weight: 600;
}
.mobile__row--list {
  gap: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile__row--item {
  display: inline-block;
  width: 14px;
  height: 2px;
  border-radius: 999px;
  background: #31456a;
}
.mobile__row--item:nth-of-type(2) {
  width: 75%;
}
.mobile__row--item:nth-of-type(3) {
  width: 25%;
}
.hero__mobile--left {
  display: flex;
  align-items: center;
  gap: 14px;
}
.mobile__left--title {
  color: #212832;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}
.moble__left--desc {
  color: #696d76;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
}
.mobile__left--icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  position: relative;
}
.feature__item--left figure,
.hero__mobile--left figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.feature__item--left figure::after,
.hero__mobile--left figure::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 8px;
  left: 0;
  top: 0;
  opacity: 0.1;
}
.hero__mobile--row:nth-of-type(2) figure::after {
  background: #30acea;
}
.feature__item--left figure::after,
.hero__mobile--row:nth-of-type(3) figure::after {
  background: #da6464;
}
.hero__mobile--row:nth-of-type(4) figure::after {
  background: #439f90;
}
.hero__mobile--row:nth-of-type(5) figure::after {
  background: #7264d6;
}
.hero__mobile--right {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
}
.mobile__right--fee {
  color: #212832;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 600;
}
.mobile__right--date {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #696d76;
}
.hero__decor--download {
  position: absolute;
  left: 0;
  top: 113px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 14px 10px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  z-index: 1;
}
.decor__download--info {
  color: #31456a;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
}
.decor__download--info strong {
  margin-left: 19px;
  color: #4ab5e3;
  font-weight: 400;
}
.decor__download--icon {
  cursor: pointer;
}
.hero__decor--secure {
  display: flex;
  position: absolute;
  left: 346px;
  bottom: 61px;
  width: 21.7544%;
  padding: 20px 15px;
  border-radius: 10px;
  background-color: #439f90;
}
.decor__secure--icon {
  margin-right: 10px;
}
.decor__secure--info {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.3;
}
.decor__secure--info strong {
  font-weight: 600;
  font-size: 1.4rem;
}
.hero__decor--interest {
  color: #fff;
  position: absolute;
  right: 0;
  top: 127px;
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 999px;
  width: 130px;
  height: 130px;
  background-color: #da6464;
  padding: 30px 33px;
}
.hero__decor--text {
  font-size: 1.6rem;
  line-height: 1.1;
  font-weight: 400;
}
.hero__decor--text strong {
  font-size: 4.4rem;
  font-weight: 600;
}
/* ================how-it-work================ */
.how-it-work {
  padding-top: 80px;
  padding-bottom: 80px;
}
.how-it-work__media {
  position: relative;
  width: 40.17%;
}
.how-it-work__inner {
  display: flex;
  gap: 230px;
  align-items: center;
}
.how-it-work__media figure {
  position: relative;
  width: 470px;
}
.how-it-work__media figure::after {
  position: absolute;
  content: url(../image/background-wallet-media.png);
  z-index: 0;
  bottom: -2px;
  left: 0;
}
.how-it-work__media--image {
  display: block;
  position: relative;
  z-index: 1;
  width: 97.02%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.how-it-work__decor--item:first-of-type {
  position: absolute;
  top: 76px;
  right: 62px;
  width: 64px;
  height: 64px;
  border-radius: 10%;
  background-color: #7264d6;
}
.how-it-work__decor--inner {
  width: 40px;
  height: 40px;
  border-radius: inherit;
  background-color: #f8fbfe;
}
.how-it-work__decor--item,
.how-it-work__decor--inner,
.how-it-work__decor--square,
.how-it-work__decor--circle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-it-work__decor--item:last-of-type {
  display: grid;
  grid-template-columns: auto auto;
  position: absolute;
  column-gap: 10px;
  row-gap: 5px;
  z-index: 1;
  bottom: 96px;
  right: -100px;
  width: 48.09%;
  padding: 15px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
.how-it-work__decor--square {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #4ab5e3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.how-it-work__decor--circle {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-color: #fff;
}
.how-it-work__decor--heading {
  color: #212832;
  font-weight: 600;
  font-size: 1.4rem;
}
.how-it-work__decor--desc {
  font-weight: 400;
  font-size: 1.2rem;
  color: #696d76;
}
.testimonial__label,
.feature__lable,
.how-it-work__label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d77;
}
.testimonial__label::before,
.feature__lable::before,
.how-it-work__label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 2px;
  background: #696d77;
}
.testimonial__title,
.feature__title,
.how-it-work__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.25;
  color: #212832;
  margin: 12px 0 70px;
}
.how-it-work__content--title {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.4546;
  color: #212832;
  margin-bottom: 16px;
}
.how-it-work__content--desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  margin-bottom: 29px;
}
.how-it-work__content--desc:last-of-type {
  margin-bottom: 0;
}
/* =================feature================ */
.feature {
  padding: 40px 0;
  margin: 40px 0;
}
.feature__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 130px;
  row-gap: 160px;
}
.feature__title {
  margin-bottom: 20px;
}
.feature__desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6667;
  color: #696d76;
  margin-bottom: 28px;
}
.feature__item--item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #212832;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6667;
}
.feature__item--item::before {
  content: "";
  display: inline-flex;
  width: 12px;
  height: 12px;
  border-radius: 999px;
  background-color: #7264d6;
}
.feature__item--item:not(:last-of-type) {
  margin-bottom: 18px;
}
.feature__btn {
  display: inline-block;
  margin-top: 38px;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fff;
  border-radius: 8px;
  background: #212832;
}
.feature__mobile--card {
  padding: 38px;
  border-radius: 20px;
  position: relative;
  border-radius: 20px;
  width: 88.603%;
  background: linear-gradient(56deg, #30acea 0%, #316fea 100%);
  overflow: hidden;
  z-index: 1;
}
.feature__mobile--card .circle__item {
  --size-circle: 48px;
}
.feature__mobile--card .mobile__card--item:nth-of-type(2) .mobile__card--desc {
  font-size: 3.2rem;
}
.feature__mobile--card .mobile__card--item:nth-of-type(3) {
  margin-top: 98px;
  gap: 26px;
  margin-bottom: 4px;
}
.feature__mobile--card .mobile__card--item:nth-of-type(3) .mobile__card--desc {
  font-size: 2rem;
  font-weight: 400;
}
.feature__mobile--card
  .mobile__card--item:nth-of-type(3)
  .mobile__card--desc:nth-child(2) {
  font-size: 2.2rem;
  font-weight: 600;
}
.feature__mobile--card .mobile__card--item:nth-of-type(4) .mobile__card--desc {
  font-size: 2.2rem;
  font-weight: 600;
}
.feature__mobile--card
  .mobile__card--item:nth-of-type(4)
  .mobile__card--desc:nth-child(2) {
  font-size: 2rem;
  font-weight: 400;
}
.feature__mobile--card .mobile__card--item:nth-of-type(4) {
  gap: 82px;
}
.feature__item:nth-child(2) {
  position: relative;
}
.feature__item--left {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-right: 67px;
}
.feature__item--inner {
  padding: 23px 13px;
  display: flex;
  position: absolute;
  top: -48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
  z-index: 1;
}
.feature__item--right {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  text-align: end;
}
.feature__item--decor {
  position: absolute;
  top: 257px;
  z-index: 1;
  right: 0;
  color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
  padding: 15px;
  gap: 14px;
  display: flex;
  flex-direction: column;
}
.feature__item--square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #fff;
}
.feature__item--desc {
  font-size: 1.2rem;
  font-weight: 400;
}
.feature__item--desc:last-child {
  font-size: 1.8rem;
  font-weight: 600;
}
.feature__item:nth-child(3) {
  position: relative;
}
.feature__item:nth-child(3) figure {
  position: relative;
  width: 470px;
  height: 600px;
}
.feature__item:nth-child(3) figure::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: url(../image/feature-bg.svg);
  width: 470px;
  height: 432px;
}
.feature__thumb {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  width: 87.87%;
  object-fit: cover;
}
.feature__decorate--item:first-of-type {
  position: absolute;
  right: 0;
  bottom: 222px;
  --size-decorate: 90px;
  width: var(--size-decorate);
  height: var(--size-decorate);
  border-radius: 999px;
  display: flex;
  align-items: center;
  z-index: 2;
  justify-content: center;
  background-color: #7264d6;
}
.feature__decorate--item:nth-of-type(2) {
  position: absolute;
  padding: 28px;
  background: #fff;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
  right: 26px;
  bottom: 57px;
  z-index: 1;
  border-radius: 8px;
}
.feature__decorate--desc {
  color: #212832;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6667;
}
.feature__chose--list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin-top: 20px;
}
.feature__chose--item {
  width: 63px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2fa;
  border-radius: 4px;
}
.feature__chose--item:last-of-type {
  background-color: #f9ea63;
}
/* =====================testimonial======================== */
.testimonial {
  padding: 80px 0;
}
.testimonial__label {
  justify-content: center;
  margin-bottom: 12px;
}
.testimonial__title {
  text-align: center;
  margin-bottom: 18px;
}
.testimonial__desc {
  color: #696d76;
  text-align: center;
  width: 37.28%;
  margin: 0 auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}
.testimonial__row {
  display: flex;
  overflow: hidden;
  gap: 30px;
  margin-top: 70px;
  text-align: center;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}
.testimonial__quiot {
  position: relative;
  background-color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5454;
  font-style: italic;
  color: #696d76;
  padding: 42px 28px;
  border-radius: 2%;
}
.testimonial__quiot::after {
  position: absolute;
  --size-triangle: 65px;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  border: var(--size-triangle) solid #fff;
  border-bottom: var(--size-triangle) solid transparent;
  border-left: calc(var(--size-triangle) / 1.3) solid transparent;
  border-right: calc(var(--size-triangle) / 1.3) solid transparent;
}
.testimonial__customer {
  margin-top: 96px;
}
.testimonial__thumb {
  --size-testimonial-thumb: 104px;
  width: var(--size-testimonial-thumb);
  height: var(--size-testimonial-thumb);
  border-radius: 999px;
  object-fit: cover;
}
.testimonial__item .testimonial__thumb {
  background-color: #4ab5e3;
}
.testimonial__item:nth-of-type(2) .testimonial__thumb {
  background-color: #4ae36b;
}
.testimonial__customer--name {
  line-height: 1.38462;
  font-weight: 600;
  font-size: 2.6rem;
  color: #070052;
  margin-top: 20px;
}
.testimonial__customer--job {
  font-size: 1.8rem;
  line-height: 1.6667;
  font-weight: 400;
  color: #696d76;
  margin-top: 4px;
}
.testimonial__item {
  position: relative;
  width: 570px;
  flex-shrink: 0;
  animation-name: testimonial-ani;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}
@keyframes testimonial-ani {
  0% {
    right: 0px;
  }
  10% {
    right: var(--with-size);
  }
  20% {
    right: calc(var(--with-size) * 2);
  }
  30% {
    right: var(--with-size);
  }
  40% {
    right: 0px;
  }
  60% {
    right: var(--with-size);
  }
  70% {
    right: calc(var(--with-size) * 2);
  }
  80% {
    right: var(--with-size);
  }
  100% {
    right: 0;
  }
}
.testimonbial__dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 38px;
}
.testimonial__dot--item {
  width: 22px;
  height: 6px;
  border: 0.5px solid #9b9fab;
}
.testimonial__dot--active {
  background-color: #7264d6;
  border-color: #7264d6;
}
